[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no

[ req_distinguished_name ]
C  = PL
ST = Mazowieckie
L  = Warsaw
O  = Lukk
OU = Originals
CN = Local-dev
emailAddress = luksarna@gmail.com

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost
DNS.2 = host.docker.internal
DNS.3 = keycloak.test
DNS.4 = keycloak
DNS.5 = sky.test
DNS.6 = sky

# IP SANs for localhost
IP.1 = 127.0.0.1
IP.2 = ::1